<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Harmonic Complexifier</title>
    <link rel="stylesheet" href="harmonic_complexifier.css">
    <link rel="icon" href="./img/logo.png">
  </head>
  <body>
    <img class="logo" src="./img/logo.png" alt="Harmonic Complexifier logo">
    <div id="root">
      <h1>Harmonic Complexifier</h1>
      <div id="inputSel">
        <button id="keySwitch" onclick="switchToKeyboard();">Keyboard</button>
        <button id="btnSwitch" onclick="switchToButtons();">Buttons</button>
      </div>
      <div id="keySel">
        <h2>Key</h2>
          <button v-for="key in keys"
                    v-on:click="activate(key, keys); createNotes(key);"
                    v-bind:class="{activated: key.active}">
                    {{ key.text }}</button>
      </div>
      <div id="buttons" style="display: none">
        <h2>Notes</h2>
        <div id="firstIn">
          <button v-for="note in notes"
                    v-on:click="activate(note, notes)"
                    v-bind:class="{activated: note.active}">
                    {{ note.text }}</button>
        </div>
        <h2>Chords</h2>
        <div id="secondIn">
          <button v-for="chord in chords"
                  v-on:click="activate(chord, chords)" v-bind:class="{activated: chord.active}">
                  {{ chord.text }}</button>
        </div>
        <h2>Duration</h2>
        <div id="thirdIn">
          <button v-for="time in durations"
                  v-on:click="activate(time, durations)" v-bind:class="{activated: time.active}">
                  {{ time.text }}</button>
        </div>
      </div>
      <div id="keyboard" style="display: none">
        <div id="Wkeys">
          <div class="white key" v-for="key in Wkeys" v-bind:class="{active: key.clicked}" v-on:click="playKey(key); activeKey(key)">
            <div class="text bianco">{{ key.text }}</div>
          </div>
        </div>
        <div id="Bkeys">
          <div v-for="key in Bkeys" v-bind:class="[key.activeClass, {active: key.clicked}]" v-on:click="playKey(key); activeKey(key)">
            <div class="text nero">{{ key.text }}</div>
          </div>
        </div>
        <div class="reverse">
          <div id="Wkeys">
            <div class="white key"  v-for="key in Wkeys">
              <div class="text bianco">{{ key }}</div>
            </div>
          </div>
        </div>
      </div>
      <div id="stdin">
        <div class="input" v-for="text in stdin">{{ text }}</div>
        <button id="undoBtn" onclick="undoIn();"><i class="fa fa-undo"></i></button>
      </div>
      <div id="preview">
        <div>{{ preview.message }}</div>
        <i class="fa fa-plus-square" onclick="addToStdin();"></i>
      </div>
      <div id="error">
        <div v-for="err in error">{{ err }}</div>
      </div>
    </div>
    <div id="caption">
      <h4>Captions</h4>
      <ul>
        <li v-for="cap in captions">{{ cap.text }}</li>
      </ul>
    </div>
    <button id="run" onclick="runCode()"><i class="fa fa-cogs" aria-hidden="true"></i> Run</button>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="harmonic_complexifier.js"></script>
  </body>
</html>
